*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
}

#board {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board__row {
  display: flex;
  flex-direction: row;
}

.board__row__item {
  box-shadow: 0 0 0 1px #000;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.board__row__item:hover {
  background-color: rgba(0, 0, 0, 0.125);
}

.board__row__item:active {
  background-color: rgba(0, 0, 0, 0.25);
}

.board__row__item::after {
  content: "";
  font-size: 1em;
}

.board__row__item.board__row__item--x::after {
  content: "X";
}

.board__row__item.board__row__item--o::after {
  content: "O";
}
